* {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }



.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after {
    display: none;
    content: none;
    
}
